In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.io as pio
pio.renderers.default = "svg"

In [10]:
raw_df = pd.read_csv('Zomato Chennai Listing 2020.csv',delimiter='|')

In [11]:
raw_df.head()

  Zomato URL,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0  https://www.zomato.com/chennai/yaa-mohaideen-b...
1  https://www.zomato.com/chennai/sukkubhai-biriy...
2  https://www.zomato.com/chennai/ss-hyderabad-bi...
3  https://www.zomato.com/chennai/kfc-perambur,KF...
4  https://www.zomato.com/chennai/tasty-kitchen-p...

In [12]:
raw_df.shape

(12042, 1)

In [13]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12042 entries, 0 to 12041
Data columns (total 1 columns):
 #   Column                                                                                                                                                          Non-Null Count  Dtype
---  ------                                                                                                                                                          --------------  -----
 0   Zomato URL,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features  12042 non-null  object
dtypes: object(1)
memory usage: 94.2+ KB

In [14]:
raw_df.describe()

       Zomato URL,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
count                                               12042
unique                                              12042
top     https://www.zomato.com/chennai/yaa-mohaideen-b...
freq                                                    1

In [19]:
wrong_data = raw_df['Delivery Rating'] == 'Delivery Rating'
raw_df[wrong_data]

KeyError: 'Delivery Rating'